body {  }

.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  box-shadow:
    inset 0 0 0 2px rgba(255,255,255,0.6),
    0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent !important;
  z-index: 999;
}

.user-avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

ul.questions-list {
  list-style: none;
  padding: 0px;
}

ul.questions-list li {
  margin-bottom: 1rem;
}

ul.questions-list li:first-child {
  margin-top: 1rem;
}

.answer-form {
  padding: 10px;
}

ul.questions-list .card {
  min-width: 550px;
}

.card-header-link {
  text-decoration: none !important;
  color: #212529 !important;
}

.card-header-link .card-header {
  min-height: 75px;
}

nav.navbar {
  min-height: 64px;
}
